@import "tailwindcss";

.eventBox {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow-y: scroll;
  padding: 3%;
  scroll-behavior: smooth;
}

@keyframes show_dialogue_box {
  0% {
    opacity: 0;
    width: 85%;
  }

  100% {
    width: 90%;
    opacity: 1;
  }
}
.dialogue_box {
  padding: 2%;
  margin-top: 2%;
  background-color: #1e1e1e;
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  animation: show_dialogue_box 2s both ease-in-out;
}
/*-- This helps with keeping everything within the box on the last child */
.dialogue_box::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10%;
  width: 100%;
  height: 100%;
}
.eventBox:last-child {
  margin: 10%;
}
.eventBox p:first-of-type {
  background-color: #2d4768;
}
.eventBox:first-child {
  background-color: #31aa86;
}

.passTurn {
  transition: .3s;
  background: linear-gradient(90deg, #48c67a, #1dd6aa);
}

.passTurn:active{
  background: linear-gradient(90deg, #607da5, #1a686c);
}
.passTurn img {
  transition: .4s;
  filter: invert(1);
}

.characterList {
  overflow: scroll;
  color: #2a2a2a;
  padding: 2%
}
.characterList span {
  width: 100%;
  padding-left: 2%;
}
.characterList span:hover {
  background-color: #3bc192;
}
.characterList span:active {
  background-color: #cfcfcf;
}